# Application
APP_NAME=retailrocket-recommender
APP_ENV=local
LOG_LEVEL=INFO

# Paths
DATA_DIR=data
RAW_DATA_DIR=data/raw
INTERIM_DATA_DIR=data/interim
PROCESSED_DATA_DIR=data/processed
ARTIFACTS_DIR=artifacts

# MLFLOW
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=retailrocket-recommender
